/* General body */
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  display: grid;
  gap: 2em;
  grid-template-columns: 1.5em 2fr 1.5em;
  grid-template-areas:
    'nav nav nav'
    'header header header'
    'main main main'
    'footer footer footer';
}

header,
.main-content,
.sidebar,
footer {
  padding: 2em;
}

header {
  background: #1ecbe1;
  grid-area: header;
  align-content: center;
}
.main-content {
  background: #fdfdfd;
  grid-area: main;
  margin: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
footer {
  background: #1ecbe1;
  grid-area: footer;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
}

navbar {
  grid-area: nav;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

/* Main content - music box grid */

.box-grid {
  margin: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #e11ecb;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  align-items: center;
}

.box:nth-child(even) {
  background-color: #cbe11e;
  color: #000;
}

/* audio picker */
.audiobox {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-items: center;
}

audio {
  width: 100%;
  padding: 10px;
}

input {
  padding: 10px;
  width: 100%;
}

.audioinfo {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
