/* General body */
* {
  /* font-family: 'DotGothic16', sans-serif; */
  font-family: 'Orbitron', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
  background-image: radial-gradient(#fafafa 10%, transparent 0%),
    radial-gradient(#fafafa 10%, transparent 0%);
  background-color: #13f6eb;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'nav nav nav'
    'header header header'
    'main main main'
    '. play .'
    'footer footer footer';
}

.main-content {
  padding: 2em;
}

header {
  grid-area: header;
  align-content: center;
}
.main-content {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
footer {
  grid-area: footer;
  padding-top: 2em;
}

h1 {
  font-size: 150px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000;
}

navbar {
  grid-area: nav;
}

p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0.25);
  font-size: 40px;
  text-align: center;
  color: white;
}

/* Main content - music box grid */

.box-grid {
  margin: 1vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6em;
}

.box {
  box-shadow: 20px 20px 0px 5px black;
  width: 200px;
  height: 200px;
  background-color: #eb13f6;
  border-radius: 30px;
  padding: 30px;
  font-size: 150%;
  align-items: center;
  transition: transform 400ms, box-shadow 400ms;
}

.box:hover {
  transform: scale(1.1);
  box-shadow: 40px 40px 5px 2px black;
}

.box:nth-child(even) {
  background-color: #f6eb13;
  color: #000;
}

.box p {
  color: black;
}

button {
  border: 0em;
  background-color: black;
  color: white;
  font-size: 200%;
  border-radius: 30px;
  width: 200px;
  height: 100px;
  transition: color 1000ms;
}

button:hover {
  background-color: white;
  color: black;
}

.control-button {
  display: inline;
  padding-left: 5em;
  padding-right: 5em;
}

.buttons {
  grid-area: play;
  padding-top: 5em;
}

/* audio picker */
.audiobox {
  width: 200px;
  height: 200px;
}

audio {
  width: 100%;
  padding: 10px;
}

input {
  padding: 10px;
  width: 100%;
}

.audioinfo {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
