/* General body */
* {
  font-family: fantasy;
}

body {
  display: grid;
  gap: 2em;
  grid-template-columns: 1.5em 2fr 1.5em;
  grid-template-areas:
    'nav nav nav'
    'header header header'
    'main main main'
    'footer footer footer';
}

header,
.main-content,
.sidebar,
footer {
  padding: 2em;
}

header,
footer {
  /* background: #13f6eb; */
}
header {
  grid-area: header;
  align-content: center;
}
.main-content {
  grid-area: main;
  margin: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
footer {
  grid-area: footer;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
}

navbar {
  grid-area: nav;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

img {
  max-width: 10%;
  height: auto;
  align-self: center;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/* Main content - music box grid */

.box-grid {
  margin: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #eb13f6;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  align-items: center;
}

.box:nth-child(even) {
  background-color: #f6eb13;
  color: #000;
}

/* audio picker */
.audiobox {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-items: center;
}

audio {
  width: 100%;
  padding: 10px;
}

input {
  padding: 10px;
  width: 100%;
}

.audioinfo {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
